{
  "host": "smtp.gmail.com",
  "port": "465",
  "secure": "true",

  "authuser": "EMAIL",
  "authusername": "NAME",
  "authpass": "password",

  "pinginginterval": "60000",
  "minecraftaddress": "avicus.net",
  "recipientemail": "EMAIL"
}
